<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 1st Contact</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/favicon_io/favicon.ico">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Contact.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/1stContact.png" class="m-0 p-0" height="100" />
                </a>
                @if (!User.Identity!.IsAuthenticated)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">1st Contact</a>
                }
                else
                {
                    <a class="navbar-brand nav-link dropdown-toggle" data-bs-toggle="dropdown">1st Contact</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-area="" asp-controller="Contacts" asp-action="Index">My Contacts</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ContactMe">Contact Me</a>

                    </div>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door-fill"></i></a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
@*             <ul class="social-icon color-tertiary md-size justify-content-start">
                <li><a href="https://github.com/Relliumachine42"><i class="fab fa-github"></i></a></li>
                <li><a href="mailto:glennschwartz42@gmail.com"><i class="far fa-envelope"></i></a></li>
                <li><a href="https://www.linkedin.com/in/glenn-schwartz/"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://schwartz-portfolio.netlify.app/"><i class="fas fa-link"></i></a></li>
            </ul> *@
            &copy; 2023 - 1st Contact
        </div>


    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
